<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 EjS eXample</title>
</head>
<body>

<h1>My 404 EjS Heading</h1>
<p>My about Ejs paragraph.</p>

<nav>
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <a href="/blogs/create">New Blog</a>

</nav>

<h2>Oopsie daisy</h2>
<p>Feeling lost?</p>

</body>
</html>