<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About EjS eXample</title>
</head>
<body>

<h1>My About EjS Heading</h1>
<p>My about Ejs paragraph.</p>

<nav>
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <a href="/blogs/create">New Blog</a>

</nav>

<h2>About Us</h2>
<p>Lorem ipsum blah blah</p>

</body>
</html>