<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')   %>
<body>

<h1>CreateEjS Heading</h1>
<p>Create Ejs form below.</p>

<%- include('./partials/nav.ejs')   %>

<h2>Create a new blog</h2>
<p>Lorem ipsum blah blah</p>
<div class="create-blog content"> 
<form action="/blogs" method="POST">
    <label for="title">Blog Title:</label>
    <input type="text" id="title" name="title" required>
    <label for="snippet">Blog Snippet:</label>
    <input type="text" id="snippet" name="snippet">
    <label for="body">Blog body:</label>
    <textarea id="body" required name="body"></textarea>
    <button>Submit</button>
</form>

</div>

<%- include('./partials/footer.ejs')   %>


</body>
</html>