<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Create EjS eXample</title>
</head>
<body>

<h1>CreateEjS Heading</h1>
<p>Create Ejs form below.</p>

<nav>
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <a href="/blogs/create">New Blog</a>

</nav>

<h2>Create a new blog</h2>
<p>Lorem ipsum blah blah</p>
<form>
    <label for="title">Blog Title:</label>
    <input type="text" id="title" required>
    <label for="snippet">Blog Snippet:</label>
    <input type="text" id="snippet" required>
    <label for="body">Blog body:</label>
    <textarea id="body" required></textarea>
    <button>Submit</button>
</form>

</body>
</html>