<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EjS eXamples</title>
</head>
<body>

<h1>My First EjS Heading</h1>
<p>My first Ejs paragraph.</p>

<nav>
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <a href="/blogs/create">New Blog</a>

</nav>

<h2>All Blogs</h2>


</body>
</html>